html, body {
    height: 100%;
}

.content {
    height: 100%;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.choice-buttons {
    margin-top: 100px;
    min-height: 340px;
    background-image: url(../images/divider.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-teachers, .btn-students {
    color: rgba(0, 0, 0, 0);
}

.btn-teachers {
    min-height: 119px;
    min-width: 352px;
    background-image: url(../images/btn-teachers.png);
    background-position: center center;
    background-repeat: no-repeat;
}